doctype html
html(lang='en')
  head
    //- Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    //- Bootstrap CSS
    link(rel='stylesheet', href='/static/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    title Site Analysis Manager
  body
    script(src='/static/lib/axios.min.js') 
    script(src='/static/lib/jquery-1.11.0.min.js')
    script(src='/static/lib/json2html.min.js')
    script(src='/static/lib/bootstrap.min.js')
    block main

