extends layout.pug

block main
  nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        h1.navbar-brand(href='#') Site Analysis Manager
  .container-fluid
    .row.content
      .col-sm-4.sidebar
        .list
          p(style='') My websites:
          p
            input.addItemInput(type='text', name='websiteName')
            button.addItemButton Add a website
            ul
      .col-sm-8.offset-sm-4.main.text-left
        .row.action
          .col-sm-6.siteSelected Site:
          .col-sm-3
            button.Crawl 
              a.Crawl(href='/websites') Crawl
          .col-sm-3
            button.Analyse Analyse
        .row.result
          block table
            
  script(src='/static/js/app.js')