extends layout

block main
  nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        h1.navbar-brand(href='#') Site Analysis Manager
  .container-fluid
    .row.content
      .col-sm-4.sidebar
        .list
          p(style='') My websites:
          p
            input.addItemInput(type='text')
            button.addItemButton Add a website
            ul
      .col-sm-8.offset-sm-4.main.text-left
        .row.action
          .col-sm-6.siteSelected Site:
          .col-sm-3
            button.Crawl Crawl
          .col-sm-3
            button.Analyse Analyse
        .row.result
          .container-table
            block table



  script(src='/static/js/app.js')