block table

  table.table.table-striped
    thead
      tr
        th.article Article
        th.size Size
        th.updateTime Update Time
    tbody
      tr
        td.article aaaaaaaaaaaaaaaaaaaaaaaaaa
      tr
        td aaaaaaaaaaaaaaaaaaaaaaaaaa
        td aaaaaaaaaaaaaaaaaaaaaaaaaa
      tr
        td 
        td 
        td
