block table

  .container-table
    table.table.table-striped
      thead
        tr
          th Article
          th Size
          th Update Time
      tbody
        tr
          td aaaaaaaaaaaaaaaaaaaaaaaaaa
          td aaaaaaaaaaaaaaaaaaaaaaaaaa
          td aaaaaaaaaaaaaaaaaaaaaaaaaa
        tr
          td 
          td 
          td
